@media screen and (min-width:768px){header h1{font-size:1.5em;font-weight:none;width:30%}
footer{margin:0 auto;width:85%;}
footer form{width:30%}
footer form,footer #datos{display:inline-block;vertical-align:top}
footer #datos{padding:0;width:30%}
#col_left{display:block;height:500px;margin:0 0 0 1.5em;width:25%}
#col_left,#news{display:inline-block;vertical-align:top}
#info_home{margin:2em auto;padding:0 auto;text-align:center;width:100%;}
#info_home .info_item{display:inline-block;padding:0;text-align:left;vertical-align:top;width:23%}
#media_home{display:none}
#news{margin:0;max-width:55%}
#slider{background:none;max-width:85%;}
#slider .caption{bottom:0}
#wrapper{background:#fff;border-bottom:1px solid #00af6c;border-left:1px solid #00af6c;border-bottom-left-radius:1em;border-bottom-right-radius:1em;border-right:1px solid #00af6c;max-width:85%;margin:0 auto;padding:0;text-align:center}
.rslides{border-radius:1em;height:400px;margin:0 auto;text-align:center}
}