@font-face{font-family:'icons';src:url("fonts/icons.eot");src:url("fonts/icons.eot?#iefix") format('embedded-opentype'),url("fonts/icons.woff") format('woff'),url("fonts/icons.ttf") format('truetype'),url("fonts/icons.svg#icons") format('svg');font-weight:normal;font-style:normal}
[data-icon]:before{font-family:'icons';content:attr(data-icon);speak:none;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icons-film,.icons-picture,.icons-film-2,.icons-image,.icons-newspaper,.icons-library,.icons-folder,.icons-books,.icons-camera,.icons-phone,.icons-envelop,.icons-notebook,.icons-alarm,.icons-bell,.icons-calendar,.icons-calendar-2,.icons-download,.icons-box-add,.icons-box-remove,.icons-users,.icons-user,.icons-user-2,.icons-cogs,.icons-cog,.icons-accessibility,.icons-food,.icons-aid,.icons-cloud-download,.icons-mail,.icons-mail-2,.icons-youtube,.icons-chrome,.icons-firefox,.icons-twitter,.icons-twitter-2,.icons-facebook,.icons-facebook-2,.icons-facebook-3,.icons-twitter-3,.icons-instagram,.icons-youtube-2,.icons-headphones,.icons-location,.icons-location-2,.icons-warning,.icons-home,.icons-user-3,.icons-graduation,.icons-bell-2,.icons-house,.icons-directions,.icons-mail-3,.icons-pencil,.icons-group,.icons-desktop,.icons-laptop,.icons-tablet,.icons-mobile,.icons-phone-2,.icons-movie{font-family:'icons';speak:none;font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased}
.icons-film:before{content:"\f008"}
.icons-picture:before{content:"\f03e"}
.icons-film-2:before{content:"\e000"}
.icons-image:before{content:"\e001"}
.icons-newspaper:before{color:#262626;content:"\e002";font-size:3.3em}
.icons-library:before{color:#a30000;content:"\e004";font-size:3.1em}
.icons-folder:before{color:#262626;content:"\e005";font-size:3.3em}
.icons-books:before{content:"\e006"}
.icons-camera:before{content:"\e007"}
.icons-phone:before{content:"\e008"}
.icons-envelop:before{content:"\e009"}
.icons-notebook:before{content:"\e00a"}
.icons-alarm:before{content:"\e00c"}
.icons-bell:before{content:"\e00b"}
.icons-calendar:before{content:"\e00d"}
.icons-calendar-2:before{content:"\e00e"}
.icons-download:before{content:"\e00f"}
.icons-box-add:before{content:"\e010"}
.icons-box-remove:before{content:"\e011"}
.icons-users:before{content:"\e013"}
.icons-user:before{color:#2938ad;content:"\e012";font-size:3.1em}
.icons-user-2:before{content:"\e014"}
.icons-cogs:before{content:"\e015"}
.icons-cog:before{content:"\e016"}
.icons-accessibility:before{color:#29ad46;content:"\e017";font-size:3.1em}
.icons-food:before{content:"\e018"}
.icons-aid:before{content:"\e019"}
.icons-cloud-download:before{content:"\e01a"}
.icons-mail:before{content:"\e01b"}
.icons-mail-2:before{content:"\e01c"}
.icons-youtube:before{color:#262626;content:"\e01d";font-size:3.3em}
.icons-chrome:before{content:"\e01e"}
.icons-firefox:before{content:"\e01f"}
.icons-twitter:before{content:"\e020"}
.icons-twitter-2:before{content:"\e021"}
.icons-facebook:before{content:"\e022"}
.icons-facebook-2:before{content:"\e023"}
.icons-facebook-3:before{content:"\e024"}
.icons-twitter-3:before{content:"\e025"}
.icons-instagram:before{content:"\e026"}
.icons-youtube-2:before{content:"\e027"}
.icons-headphones:before{content:"\e003"}
.icons-location:before{content:"\e028"}
.icons-location-2:before{content:"\e029"}
.icons-warning:before{content:"\e02a"}
.icons-home:before{content:"\e02b"}
.icons-user-3:before{content:"\e02c"}
.icons-graduation:before{content:"\e02d"}
.icons-bell-2:before{content:"\e02e"}
.icons-house:before{content:"\e02f"}
.icons-directions:before{content:"\e030"}
.icons-mail-3:before{content:"\e031"}
.icons-pencil:before{content:"\e032"}
.icons-group:before{color:#d1a700;content:"\f0c0";font-size:3.1em}
.icons-desktop:before{content:"\f108"}
.icons-laptop:before{content:"\f109"}
.icons-tablet:before{content:"\f10a"}
.icons-mobile:before{content:"\f10b"}
.icons-phone-2:before{content:"\e033"}
.icons-movie:before{content:"\e034"}
body{background:url("../img/bg.jpg");color:#4c4c4c;font-family:'PT Sans' Arial;font-size:16px;margin:0;padding:0}
footer{padding:1em 0;text-align:left;width:100%;}
footer form{width:100%;}
footer form ul{list-style:none;}
footer form ul li{margin:1em 0;}
footer form ul li button{background:#fff;border-radius:.5em;cursor:pointer;padding:.3em 1em}
footer form ul li input{border-radius:.5em;font-size:.8em;padding:.5em .5em;width:80%}
footer form ul li input:required:valid,footer form ul li textarea:required:valid{border-color:#eaa075}
footer form ul li input:required:invalid,footer form ul li textarea:required:invalid{border-color:#ff6100}
footer form ul li textarea{border-radius:.5em;font-size:.8em;padding:.5em .5em;width:80%}
footer #datos{margin:1em 0;padding:1em;width:90%;}
footer #datos h4,footer #datos strong{display:inline-block;vertical-align:top}
footer #datos p{font-size:1em;font-weight:none;margin:.5em 0;padding:0}
footer #datos strong{color:#ff6100;font-size:1.7em;margin:0 0 0 .5em;padding:0;text-shadow:rgba(0,0,0,0.9) 1px 1px 2px}
h4{color:#ff6100;font-family:'PT Sans Narrow',Arial;font-size:1.5em;margin:0;text-shadow:rgba(0,0,0,0.9) 1px 1px 2px}
header{background:#ffae15;margin:0;padding:1em 0;text-align:center;}
header h1{color:#ff3f14;font-size:16px;margin:0 auto;padding:0;text-align:center;text-shadow:rgba(255,255,255,0.9) 1px 1px 4px;width:40%}
header h1,header #logo{display:inline-block;vertical-align:top}
header #logo{margin:.5em 0 0 auto;}
header #logo img{width:150px}
nav{background:#ffcd51;font-size:.9em;margin:0;}
nav ul{list-style:none;margin:0;padding:0;text-align:center;}
nav ul li{display:inline-block;vertical-align:top;}
nav ul li a{color:#ad170f;display:block;font-weight:bold;padding:.8em .5em;text-decoration:none}
nav ul li a:hover{background:#8e130c;color:#fff}
#col_left{display:none}
#info_home{padding:1em 0}
#media_home{display:block;margin:1em auto;text-align:center;width:100%;}
#media_home a{color:#174422;text-decoration:none}
#media_home .media_pic,#media_home .media_video{display:inline-block;margin:0;padding:0;vertical-align:top}
#media_home .media_pic{font-size:5.2em;height:88px;width:35%}
#media_home .media_video{font-size:5.5em;width:35%}
#slider{background:#e3e7f2;margin:0 auto;padding:1em 0;width:100%;}
#slider .caption{background:#000;background:rgba(0,0,0,0.8);bottom:-1em;color:#fff;display:block;left:0;padding:1em 0;position:absolute;right:0;text-align:center}
.info_item{margin:0 auto;padding:.5em;width:85%;}
.info_item a{color:#545454;font-size:.9em;margin:0 5em 0 0;text-decoration:none}
.info_item a:hover{text-decoration:underline}
.info_item h3{font-family:'PT Sans Narrow',Arial;font-size:1.3em;margin:.6em 0;width:60%}
.info_item h3,.info_item .info_icon{display:inline-block;vertical-align:top}
.info_item p{margin:1em 0}
.info_item .info_icon{margin:0 1em 0 0}
.post{border-bottom:1px solid #add684;margin:0 auto;padding:.7em .3em;text-align:left;width:95%;}
.post h2{color:#d34600;font-family:'PT Sans Narrow',Arial;font-size:1.5em;margin:0 0 0 .7em;width:70%}
.post h2,.post .post_type_icon{display:inline-block;vertical-align:top}
.post .post_datos{text-align:left;}
.post .post_datos a{color:#545454;font-size:.9em;margin:0;text-decoration:none}
.post .post_datos a:hover{text-decoration:underline}
.post .post_datos span{float:right;font-size:.9em;margin:0 1em 0 0}
.post .post_info{font-size:1em;margin:0;padding:0;text-align:left}
.rslides{font-size:1em;list-style:none;margin:0;overflow:hidden;padding:0;position:relative;width:100%}
.rslides li{-webkit-backface-visibility:hidden;display:none;left:0;position:absolute;top:0;width:100%}
.rslides li:first-child{display:block;float:left;position:relative}
.rslides img{border:0;display:block;float:left;height:auto;width:100%}
